.homepage {
    background-image: linear-gradient(to right, rgb(196, 179, 179) , rgb(248, 248, 245));
    opacity: 0.8;
    margin-left: 20em;
    margin-right: 20em;
}

#welcome {
    font-size: 70px;
    font-family:'Dawning of a New Day', cursive;
    font-weight: 300;
    margin-top: 1em;
}
#title {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
#reminders_title {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

#entry {
    background-image: linear-gradient(to right, rgb(196, 179, 179) , rgb(248, 248, 245));
    opacity: 0.8;
    border-radius: 25px;
    margin-left: 1em;
}

textarea {
    opacity: 1;
}
.affirmation {
    font-size: 50px;
    font-family:'Dawning of a New Day', cursive;
}

.reminder {
    background-image: linear-gradient(to right, rgb(196, 179, 179) , rgb(248, 248, 245));
    opacity: 0.8;
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 12em;
}
.completed, .incomplete{ 
    background-image: linear-gradient(to right, rgb(196, 179, 179) , rgb(248, 248, 245)) ;
    opacity: 0.3;
    margin-left: 5em;
    margin-right: 5em;  
}

.welcome {
    font-family:'Dawning of a New Day', cursive;
    font-size: 50px;
    text-align: center;
}

img {
    position: absolute;
    margin-left: 9em;
    margin-top: -21em;
    z-index: -1;
    opacity: 0.5;
}

.navbar-custom {
    background-color:#bbbbbb;
    opacity: 0.7;
}


.nav-link, .navbar-brand {
    color: black;
    font-size: 22px;
}

body {
    background: url("/static/aaron-burden-2d_g_mx5YnI-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1, h3, h2, p,.additem,.refresh,nav{
            text-align: center;
            font-family: 'Amatic SC', cursive;
            font-size: 23px;
}

.username,.password, .first_name { 
        font-size: medium;
        font-weight: 900;
}

.description {
        font-family: 'Cutive Mono', monospace;
        text-align: center;
        font-size: 18px;
}


.intro {
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    font-size: 14px;
}

.phone_num {
    font-family: 'Cutive Mono', monospace;
    font-size: 18px;
}
ul, ol {
        display: table;
        margin: 0 auto;
}       

.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 22px;
}

.flash-msg {
    color:rgb(78, 72, 76)
}


li {
    list-style-type: none;
}
