
h1, h3, h2, p,.additem,.refresh, nav {
                        text-align: center;
                        font-family: 'Amatic SC', cursive;
}

.username,.password, .first_name, .phone_num {
        font-family:'Cutive Mono', 
        monospace;
        font-size: medium;
        font-weight: 900;
}

ul, ol {
        display: table;
        margin: 0 auto;
}       

.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flash-msg{
    color:deeppink
}
.sign-up{
    border: 1px solid black;
    border-style: dashed;
    margin-left: 500px;
    margin-right: 500px;


/* }

CSSResult
EDIT ON
html, body {
  width: 100%;
  height:100%;
} */

/* body, nav {
    background: linear-gradient(-45deg, #52eed9, #5ce6e6, #31b7e7, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */
