<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cutive+Mono&display=swap" rel="stylesheet">      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}{% endblock %}
  </head>
  <!-- <style>
    h1, h3, h2, p, .additem,.refresh, nav {text-align: center;
                                font-family: 'Amatic SC', cursive;}
    .username,.password {font-family:'Cutive Mono', monospace;}
    ul, ol {
    display: table;
    margin: 0 auto;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flash-msg{
      color:deeppink
    }
  </style> -->
  <body>
    <!-- Replace # in href="___" with /todo, /journal -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="/">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-droplet-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
          <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
        </svg>
        Refresh
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/refresh">Todo List</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/refresh">Journal</a>
        </li>
      </ul>
          <div class="navbar-nav">
            <form action="/logout" class="form-inline">
              <input class="btn btn-outline-dark" type="submit" value="( · _ · )">
            </form>
          </div>
    </nav> -->
    <div class="container">
      <div class="col-sm">
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" 
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
          crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
    
    {% block body %}{% endblock %}
  
    {% block after_body %}{% endblock %}
  </body>
</html>
