{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Quick Refresh</h1>
    <div class="row">
        <div class="col">
            <h3 class="mt-3">I Am Grateful For...</h3>
                    <ol>
                        <li><textarea rows="3" cols="35" placeholder="I am grateful for..."></textarea></li><br>
                        <li><textarea rows="3" cols="35"></textarea></li>    
                    </ol>
            <h3 class="mt-3">I Am Proud of...</h3>
                <ol>
                    <li><textarea rows="3" cols="35" placeholder="I am proud of..."></textarea></li><br>
                    <li><textarea rows="3" cols="35"></textarea></li><br>
                    <li><textarea rows="3" cols="35"></textarea></li>
                </ol>
        </div>
        <div class="col">
            <h3 class="mt-3">3 Amazing things that happened today:</h3>
                <ol>
                    <li><textarea rows="3" cols="35"></textarea></li><br>
                    <li><textarea rows="3" cols="35"></textarea></li><br>
                    <li><textarea rows="3" cols="35"></textarea></li>
                </ol>
            <h3 class="mt-3">How could today have been better?</h3>
                <ol>
                    <li><textarea rows="3" cols="35" placeholder="It could have been better..."></textarea></li><br>
                    <li><textarea rows="3" cols="35"></textarea></li><br>
                    <li><textarea rows="3" cols="35"></textarea></li>
                </ol>
        </div>
        <div class="col">
            <h3 class="mt-3">Free Feelings</h3>
                <ol>
                    <li><textarea rows="14" cols="35"></textarea></li><br>
                </ol>
        </div>
    </div>
</div>

{% endblock %}