{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    #refresh {
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-size: 23px;
    }
    
</style>

<div class="container">
    <h1 id="reminders_title" class="mt-3">Quick Refresh</h1>
    <form action="/save">
        <div id="refresh" class="mt-3">
            <input class="btn btn-dark btn-lg" type="submit" value="refresh your journal">
        </div>
    </form>
    <div class="row">
        <div class="col">
            <div id="entry">
                <div class="mt-3" id="title">I Am Grateful For...</div>
                    <ol>
                        <li><textarea rows="3" cols="40" placeholder="I am grateful for..."></textarea></li><br>
                        <li><textarea rows="3" cols="40"></textarea></li>
                        <li class="mt-4"><textarea rows="3" cols="40"></textarea></li> 
                    </ol>
                <div class="mt-3" id="title">I Am Proud of...</div>
                    <ol>
                        <li><textarea rows="3" cols="40" placeholder="I am proud of..."></textarea></li><br>
                        <li><textarea rows="3" cols="40"></textarea></li><br>
                        <li><textarea rows="3" cols="40"></textarea></li>
                    </ol>
            </div>
        </div>
        <div class="col">
            <div id="entry">
                <div class="mt-3" id="title">3 Amazing things that happened today:</div>
                    <ol>
                        <li><textarea rows="3" cols="40"></textarea></li><br>
                        <li><textarea rows="3" cols="40"></textarea></li><br>
                        <li><textarea rows="3" cols="40"></textarea></li>
                    </ol>
                <div class="mt-3" id="title">How could today have been better?</div>
                    <ol>
                        <li><textarea rows="3" cols="40" placeholder="It could have been better..."></textarea></li><br>
                        <li><textarea rows="3" cols="40"></textarea></li><br>
                        <li><textarea rows="3" cols="40"></textarea></li>
                    </ol>
            </div>
        </div>
        <div class="col">
            <div id="entry">
                <div class="mt-4" id="title">Free Feelings</div>
                    <ol>
                        <li><textarea rows="10" cols="80"></textarea></li><br>
                    </ol>
            </div>
        </div>
    </div>
</div>


{% endblock %}