{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    p {
        font-size: 99px;
        color: whitesmoke
    }

    #meditation {
        font-size: 30px;
        background-image: linear-gradient(to right, rgb(196, 179, 179) , rgb(248, 248, 245)) ;
        opacity: 0.8;   
        margin-left: 10em;
        margin-right: 10em;
        border-radius: 25px;
    }
    .instructions {
        font-size: 50px;
    }

    #meditate {
    color: white;
    text-shadow: 2px 2px 5px whitesmoke;
    font-size: 100px;
    font-weight: 400;
    }

</style>

<br>
<div id="meditation">
    <h1 class="instructions">Take deep breaths</h1>
    <h2 id="title" class="mt-4">Fill free to put on some calming music or meditate in silence
        <br>
        <div id="title" class="mb-2">
            Use the breathing circle to guide you through your breaths 
        </div>
        <br>
    </h2>
</div>
<br>
<div class="element"></div>
<br>
<br>
<h3>
    <button class="btn btn-dark btn-lg" id='start'>start</button>
    <button class="btn btn-dark btn-lg" id='stop'>pause</button>
</h3>
<p id="meditate"></p>
<script src="/static/timer.js"></script>

{% endblock %}