{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}

<h3 id="welcomehome">Welcome</h3>
<img src="/static/images/white-stroke-png-4.png" width="650" height="186">
<div class="reminder">
    <h1 id="reminders_title">Reminders</h1>
    <h3 class="description">
        Sign up for text message reminders so you
        don't forget to REFRESH!
    </h3>
    <div class="sign-up">
        <br>
        <form action="/reminder" method="POST">
            <p>
            Phone number: <input rows="10" class="phone_num" type="text" name="phone_num">
            </p>
            <p>
                <input class="btn btn-dark btn-lg, mb-4" type="submit" value="Signup">
            </p>
        </form>
    </div>
</div>

{% endblock %}


