{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<br>
<div class="homepage">
    <h1 class="mt-5">Set Up for Reminders</h1>
    <h2>If you'd like text message reminders, please sign up here!</h2>
    <div class="sign-up">
        <br>
        <form action="/reminder" method="POST">
            <p>
            Phone number: <input class="phone_num" type="text" name="phone_num">
            </p>
            <p>
                <input class="mb-4" type="submit" value="Signup">
            </p>
        </form>
    </div>
</div>

{% endblock %}


