{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<br>
<div class="reminder">
    <img src="/static/white-stroke-png-4.png" width="600" height="186">
    <h1 class="mt-5">Reminders</h1>
    <h2 class="description">
        Afraid you might forget?
    </h2>
    <h3 class="description">
        Set up text message reminders so you
        don't miss to REFRESH!
    </h3>
    <div class="sign-up">
        <br>
        <form action="/reminder" method="POST">
            <p>
            Phone number: <input rows="10" class="phone_num" type="text" name="phone_num">
            </p>
            <p>
                <input class="mb-4" type="submit" value="Signup">
            </p>
        </form>
    </div>
</div>

{% endblock %}


