{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    #todo {
        background-image: linear-gradient(to right, rgb(196, 179, 179) , rgb(248, 248, 245));
        opacity: 0.9;
        border-radius: 25px;
        margin-left: 30em;
        margin-right: 30em;
    }
    #refresh {
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-size: 23px;
    }
    
</style>
<br>
<h1 id="reminders_title">ToDo List</h1>
<br>
<div id="todo">
    <h2 class="description">Once you've completed your to-dos
    </h2>
    <h2 class="description">
        Refresh your list to start anew
    </h2>
    <div class="mb-4" id="refresh">
        <form action='/delete'>
            <input class="btn btn-dark btn-lg" type="submit" value="Refresh">
        </form>   
    </div>  
</div>
 
<br>  
<div class="container">
    <div class="row">
        <div class="col-sm" id="entry">
            <div class="additem">
                <h2 class="mt-3">Add new item to list:</h2> 
                <form action='/add', method="POST">
                    <input type="text" name="todoitem"> 
                    <input class="mb-3" class="btn btn-dark btn-m" type="submit" value="Add">
                </form>
            </div>
        </div>
        <div class="col-sm" id="entry">
            <h2 class="mt-3">Incomplete</h2>
            <ul>
                {% for todo in incomplete %}
                <br>
                <li class="mb-3">{{ todo.text }}<a href="{{ url_for('complete_item', id=todo.id) }} ">   <button class="btn btn-dark"">Completed</button></a></li>
                {% endfor %}
            </ul>  
        </div>
        <div class="col-sm" id="entry">
            <h2 class="mt-3">Complete</h2>
            <ul>
                {% for todo in complete %}
                <li>{{ todo.text }}<a href="{{ url_for('complete_item', id=todo.id) }}"></a></li>
                {% endfor %}
            </ul> 
        </div>
    </div>
</div>  
{% endblock %}