{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<br>
<h1>ToDo List</h1>
<br>

<div class="refresh">
    <form action='/delete'>
        <input class="btn btn-outline-dark" type="submit" value="Refresh">
    </form>   
</div>    
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="additem">
                <h2 class="mt-4">Add new item to list:</h2> 
                <form action='/add', method="POST">
                    <input type="text" name="todoitem"> 
                    <input class="btn btn-outline-dark" type="submit" value="Add">
                </form>
            </div>
        </div>
        <div class="col-sm">
            <h2 class="mt-4">Incomplete</h2>
            <ul>
                {% for todo in incomplete %}
                <li>{{ todo.text }}<a href="{{ url_for('complete_item', id=todo.id) }} ">  <button class="btn btn-outline-dark"">Completed</button></a></li>
                {% endfor %}
            </ul>  
        </div>
        <div class="col-sm">
            <h2 class="mt-4">Complete</h2>
            <ul>
                {% for todo in complete %}
                <li>{{ todo.text }}<a href="{{ url_for('complete_item', id=todo.id) }}"></a></li>
                {% endfor %}
            </ul> 
        </div>
    </div>
</div>  
{% endblock %}